[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=pylotro
Icon=PyLotRO_Menu
Name=The Lord of the Rings Online
Name[de]=Der Herr der Ringe Online
Name[fr]=Le Seigneur des Anneaux en ligne
Terminal=false
Categories=Game;RolePlaying;
